* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

*::before, *::after {
  box-sizing: border-box;
}

.btn-hover-cust {
  color: #343a40 !important;
}

.btn-hover-cust:hover {
  color: #f8f9fa !important;
  background-color: #17a2b8 !important;
}

.bg-gra-03-2 {
  background: #1A2980;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}